.accommodations .header {
    /* TODO: Add font style here */
}

.accommodations .accommodation-card {
  background: white;
  border-radius: 17px;
  box-shadow: 0px 0px 40px 4px  rgba(0, 0, 0, 0.2); /* offset-x | offset-y | blur-radius | spread-radius | color */
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  width: 100%;
  height: 220px;
}

.accommodations .accommodations-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accommodations .hotel-card-content {
  display: flex;
  padding: 10px 0 15px 15px;
  flex-direction: column;
  justify-content: space-between;
}


.accommodations .hotel-image-container {
  object-fit: cover;
  overflow: hidden;
  position: relative;
  height: 116px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 17px 17px 0 0;
  object-position: center;
}
.background-image {
  height: 100%;
  border-radius: 17px 17px 0 0;
  width: 100%;
  position: relative;
}

.accommodations .hotel-image-container .marcus-loke {
  background: no-repeat center / cover url("../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

.accommodations .hotel-image-container .fred-kleber {
  background: no-repeat center / cover url("../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg")
}

.accommodations .hotel-image-container .reisetopia {
  background: no-repeat center / cover url("../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

.accommodations .hotel-image-container .annie-spratt {
  background: no-repeat center / cover url("../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

.accommodations .hotel-image-container .nicate-lee {
  background: no-repeat center / cover url("../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

.accommodations .hotel-image-container .febrian-zakaria2 {
  background: no-repeat center / cover url("../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

.accommodations .accommodation-title {
    /* TODO: Add font style here */
    margin: 0;
    margin-bottom: 7px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.accommodations .accommodation-price {
    /* TODO: Add font style here */
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: Raleway, sans-serif;
}

.accommodations .accommodation-card-content__container {

display: flex;

flex-direction: column;
}

.accommodations .review {
  font-size: 12px;
  color: var(--primary);
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 0;
}

.accommodations .show-more {
    /* TODO: Add font style here */
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-weight: 700;
    padding-top: 33px;
    display: block;
}

.hotel-image {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 66%;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 17px 17px 0 0;
  object-position: center;
}
