@media screen and (min-width: 768px) and (max-width: 992px) {
  
}

@media screen and (min-width: 992px) {
  .accommodations .accommodation-card-link {
    width: 33%;
    height: 200px;
    margin: 10px 0;
  }

  .ac
}

  .accommodation-card-link {
    width: 100%;
  }
.accommodations .header {
    /* TODO: Add font style here */
}

.accommodations .accommodation-card {
  height: 200px;
  background: white;
  border-radius: 17px;
  box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 20%); /* offset-x | offset-y | blur-radius | spread-radius | color */
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
}

.accommodations .accommodations-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accommodations .hotel-card-content {
  display: flex;
  padding: 10px 0 15px 15px;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.accommodations .accommodation-title {
    /* TODO: Add font style here */
    margin: 0;
    margin-bottom: 7px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.accommodations .accommodation-price {
    /* TODO: Add font style here */
    margin: 0;
    /* margin-bottom: 10px; */
    font-size: 14px;
    font-family: Raleway, sans-serif;
}

.accommodations .accommodation-card-content__container {display: flex;flex-direction: column;margin-top: 10px;}

.accommodations .review {
  font-size: 12px;
  color: var(--primary);
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
}

.accommodations .show-more {
    /* TODO: Add font style here */
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-weight: 700;
    padding-top: 33px;
    display: block;
}

.accommodation-card-content__container .accommodation-image {
  width: 100%;
  border-radius: 17px 17px 0 0;
}

.accommodation-card .accommodation-card-content {
  
margin-left: 20px;
  
display: flex;
  
justify-content: space-between;
  
height: 100%;
  
flex-direction: column;
}

.accommodations .accommodation-card .accommodation-image {
  width: 100%;
  border-radius: 17px 17px 0 0;
  object-fit: cover;
  height: 110px;
}