.activities {
  padding: 0;
  margin: 38px 0;
}

.header {
  font-size: 22px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
}

.activity-list__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.activity-card {
  flex-direction: column;
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 20%);
  border-radius: 17px 17px 17px 17px;
  display: flex;
  margin: 10px 0;
}

.activity-card__image {
  overflow: hidden;
  flex-grow: 2;
  position: relative;
  width: 100%;
  border-radius: 17px 17px 0 0;
  position: relative;
  height: 100%;
}

.activity-card__title {
  flex-wrap: wrap;
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  margin-left: 10px;
}



.activity-card:not(:first-of-type) {
  margin-top: 10px;
}

.activity-card:not(:last-of-type) {
  margin-bottom: 10px;
}

.activity-card {
  width: 100%;
}

.activity-card:hover {
  color: var(--primary)
}

@media screen and (min-width: 996px) {
  .activity-card {
    width: 22%;
  }

  .activity-card {
    display: inline-flex;
    margin: 0;
    height: 100%;
  }


  .activity-card__image {
    height: 90%;
  }

  .activity-card__small .text-center-flex-container {
    height: 30%;
  }

  .activity-list__container {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
  }

  .activity-card__small {
    height: 240px;
    position: relative;
    width: 100%;
  }

  .activity-card.activity-card:last-of-type {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .activity-card.activity-card:first-of-type {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}