.cta .content-header {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}

.cta .contennt-sub {
  font-size: 16px;
  font-weight: 400;
}

.cta .searchbar-container {
  border: 1px var(--search-grey-border) solid;
  border-radius: 15px;
  position: relative;
}

.cta .location-icon {
  display: absolute;
  left: 0;
  height: 50px;
  width: 50px;
  border-radius: 15px 0 0 15px;
}
.grey-icon-background {
  background-color: var(--icon-grey-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.searbar-input-container {
  padding: 15px 16px;
}

.searbar-input-container .searchbar-input {
    font-size: 18px;
    font-weight: bold;
}

.cta .search-icon-container {
  display: absolute;
}

.cta .primary-background {
  color: var(--primary);
}

.fa-search {
  color: white;
}

.filter-seciton .header {
  /* TODO: ADD FONT STYLE*/
  color: black;
}

.filter-seciton .filter-background {
  border: 1px var(--filter-border-grey) solid; /* TODO: GET COLOR FOR BORDER */
  border-radius: 17px; /* TODO: GET RADIUS */
  display:  flex;
  padding: 15px;
}

.filter-seciton .icon-container {
  background: var(--filter-icon-background);
}

.filter-section .fa {
  color: var(--filter-icon-color);
}

.filter-section .filter-title {
  /* TODO: Font information here */
}

.filter-section .info {
  display: flex;
  flex-direction: row;
}

.filter-seciton .info-content {
  /* TODO: Font information here */
}