.cta .content-header {
  font-size: 22px;
  font-weight: 800;
  line-height: 30px;

  width: 300px;
}

.cta .content-sub {
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7)
}

.cta .searchbar-container {
  border: 1px var(--icon-grey-background) solid;
  border-radius: 17px;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.searchbar-content-container input {
  border: inherit;
  font-weight: 700;
  font-size: 16px;
}

.searchbar-content-container input:focus,
.searchbar-content-container input:active {
  outline: inherit;
}

.searchbar-content-container {
  border: none;
  outline: none;
  margin-left: 15px;
}

.cta .location-icon {
  position: relative;
  display: inline-flex;
  left: 0;
  height: 50px;
  width: 50px;
  border-radius: 17px 0 0 17px;
}
.grey-icon-background {
  background-color: var(--icon-grey-background);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  font-size: 18px; 
  border-radius:  17px 0 0 17px;
}

.searchbar-content-container {
  position: relative;
  display: inline-flex;
}

.searbar-input-container {
  padding: 15px 16px;
}

.searbar-input-container .searchbar-input {
    font-size: 18px;
    font-weight: bold;
}

.cta .search-icon-container {
  position: relative;
  display: inline-flex;
  display: flex;
  align-items: center;
  border-radius: 17px 17px 17px 17px;
}

.search-icon-container.primary-background {
  background-color: var(--primary);
  display: flex;
  align-content: center;
  min-width: 60px;
  justify-content: center;
}

.fa-search {
  color: white;
}

.filter-seciton .header {
  /* TODO: ADD FONT STYLE*/
  color: black;
}

.filter-seciton .filter-background {
  border: 1px var(--filter-border-grey) solid; /* TODO: GET COLOR FOR BORDER */
  border-radius: 17px; /* TODO: GET RADIUS */
  display:  flex;
  padding: 15px;
}

.filter-seciton .icon-container {
  background: #f8fbff;
}

.filter-section .fa {
  color: var(--filter-icon-color);
}

.filter-section .filter-title {
  /* TODO: Font information here */
  padding: 0 20px;
}

.filter-section .info {
  display: flex;
  flex-direction: row;
}

.filter-seciton .info-content {
  /* TODO: Font information here */
}

.filter__top {
  display: flex;
  flex-wrap: wrap;
}


.filter-background{
  border: 3px var(--icon-grey-background) solid;
  border-radius: 25px;
  position: relative;
  margin: 10px 5px;
  display: flex;
  justify-content: space-around;
  /* width: 100%; */
}

.icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: var(--primary);
  width: 50px;
  position: relative;
  height: 50px;
  border-radius: 50px;
  margin-left: -1px;
  background: #f8fbff;
}

.filter-title {
  display: inline;
  font-weight: 700;
}

.filter__top:first-child {
  margin-top: 0px;
}

.filter__top:last-child {
  margin-bottom: 0px;
}


.info .icon-container {
  border: 1px var(--icon-grey-background) solid;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
}

