#footer .footer-list {
  display: flex;

}

#footer .sublist {
  display: flex;
}

#footer .list-title {
  color: var(--footer-title-color);
}

#footer .sublist-item {
  padding: 5px 0;
}

#footer .item-link {
  color: var(--footer-sublist-color);
}

#footer .list-title {
  /* TODO: Add font style here */
  font-size: 16px;
  font-weight: 400;
}

#footer .item-link {
  /* TODO: Add font style here */
}

#footer a:visited {
  color: var(--footer-sublist-color);
}