#footer .footer-list {
  flex-direction: column;
  display: flex;
  list-style-type: none;
}

#footer .sublist {
  font-size: 16px;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  padding: 0;
}

#footer .list-item {
}

#footer .list-title {
  color: var(--footer-title-color);
}

#footer .sublist-item {
  padding: 5px 0;
}

#footer .item-link {
  color: var(--footer-sublist-color);
}

#footer .list-title {
  /* TODO: Add font style here */
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 15px;
}

#footer .item-link {
  /* TODO: Add font style here */
  font-size: 12px;
  padding: 10px 0;
  text-decoration: none;
}

#footer a:visited {
  color: var(--footer-sublist-color);
}