.logo-container {
    display: flex;
    padding-top: 25px;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100%;
    padding-left: 50px;
}

.list-container {
    display:  flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}
.list-container .list-item {
    font-family: 'Raleway', sans-serif;
    color: var(--menu-grey);
    width: 50%;
    padding: 15px 0;
    border-bottom: 3px var(--menu-grey) solid;
    display: flex;
    justify-content: center;
}


.list-container .active {
    color: var(--primary);
    border-bottom: 3px var(--primary) solid;
}

