@import "variables.css";
@import "header.css";
@import "./cta.css";
@import "./mostpopular.css";
@import "./accommodations.css";
@import "activities.css";
@import "footer.css";

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.filter-content-container {display: flex;padding-left: 40px;}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    display: inline;
}

.container {
    width: 100%;
    padding: 0 25px;
    margin: auto;
}

.section-container {
    padding: 25px 20px;
    /* max-width: 400px; */
    /* align-items: center; */
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 992px) {
    .section-container {
        padding: 25px 50px;
    }
    
}

.center-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.section-title-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}