@import "variables.css";
@import "header.css";
@import "cta.css";
@import "filter.css";
@import "info.css";
@import "mostpopular.css";
@import "accommodations.css";
@import "activities.css";
@import "footer.css";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.header {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    display: inline;
}

.container {
    width: 100%;
    padding: 0 25px;
    margin: auto;
}

.no-show {
    display: none;
}

@media screen and (min-width: 992px) {
    .section-group {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

ul {
    margin: 0;
}

.grey {
    color: grey;
}

a {
    text-decoration: none;
    color: initial;
}