@import "variables.css";
@import "header.css";
@import url(./cta.css);
/* @import url(./mostpopular.css); */
/* @import url(./accommodations.css); */
/* @import url(./activities.css); */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

main {
    margin-left: 20px;
}