.hotel-card-link {
  width: 100%;
}
.most-popular .section-title-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.most-popular .header {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  display: inline;
}

.grey-background {
  background-color: var(---icon-grey-background)
}

.most-popular .hotel-card__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.most-popular .hotel-card {
  padding: 5px;
  border-radius: 17px;
  margin: 5px 0;
  background: white;
  box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 20%);
  height: 145px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.most-popular .hotel-image-container {
  border-radius: 17px 0 0 17px;
  height: 140px;
  padding-top: 4px;
  padding-left: 1%;
  width: 33%;
}

.most-popular .hotel-image {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 33%;
  margin-bottom: 5px;
  border-radius: 17px  0 0 17px;
  object-position: center;
}

.most-popular .hotel-card .hotel-title {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
    max-width: 150px;
}

.most-popular .hotel-card .hotel-price {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.most-popular .hotel-card .rating {
    color:var(--primary);
    font-size: 12px;
}

.hotel-card .hotel-card-content {
  display: flex;
  padding: 20px 0 0 16px;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-card-link:hover {
 color: var(--primary)
}

.show-more:hover {
  color: var(--primary)
}