@mixin x-breakpoints($point, $bp-mobile-width: 640px, $bp-tablet-width: 1024px) 
	$bp-mobile: '(max-width: #{$bp-mobile-width})'
	$bp-tablet: '(min-width: #{$bp-mobile-width}) and (max-width: #{$bp-tablet-width})'
	$bp-desktop: '(min-width: #{$bp-tablet-width})'

	@if $point == mobile
		@media #{$bp-mobile} 
			@content
	@else if $point == tablet 
		@media #{$bp-tablet} 
			@content
	@else if $point == desktop 
		@media #{$bp-desktop} 
			@content
	@else 
		@warn "You are requesting an invalid breakpoint: `#{$point}`."

@mixin hoverLine($color: #fff) 
  border-top: 3px $color solid